/* purgecss start ignore */

@tailwind base;
@tailwind components;

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

h1 {
  @apply text-2xl leading-snug font-semibold text-neutral-300 mt-12 mb-5;
}

h2 {
  @apply text-xl leading-snug font-semibold text-neutral-300 mt-10 mb-4;
}

h3 {
  @apply text-lg leading-normal font-semibold text-neutral-300 mt-8 mb-3;
}

h4 {
  @apply text-base leading-normal font-semibold text-neutral-300 mt-6 mb-2;
}

h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child {
  @apply mt-1;
}

p {
  @apply mt-5;
}

a {
  @apply text-brand-bright;
}
a:hover {
  @apply text-brand-dim;
}

ol {
  counter-reset: olcount;
}

ol li {
  counter-increment: olcount;
}

ol > li::before {
  content: counter(olcount) '.';
  font-size: 1em;
  left: -2.35rem;
  @apply py-1 absolute top-0 right-0 opacity-50 inline-block w-8 text-right;
}

ul,
ol {
  @apply my-3;
}

li {
  @apply py-1;
}

li p {
  @apply mt-0;
}

ul li,
ol li {
  @apply ml-7 relative;
}

ul li ul,
ul li ol,
ol li ol,
ol li ul {
  @apply -mb-1;
}

ul > li::before {
  content: '•';
  font-size: 1em;
  left: -2.35rem;
  @apply py-1 absolute top-0 opacity-50 inline-block w-8 text-right;
}

ol ol,
ol ul,
ul ol,
ul ul {
  @apply mb-0 mt-1;
}

blockquote {
  @apply my-6 border-l-4 border-neutral-800 pl-5 py-1;
}
blockquote p {
  @apply py-1 px-0 m-0;
}

blockquote blockquote {
  @apply my-3;
}

blockquote cite {
  @apply italic opacity-75;
}

hr {
  @apply w-full h-px bg-neutral-800 my-10 border-none;
}

mark {
  @apply bg-neutral-800 text-brand-main rounded-sm px-05 -mx-05;
}

code {
  @apply text-neutral-200 font-mono bg-neutral-800 rounded text-sm;
}

p > code {
  @apply px-1 py-05;
}

code[class*='language-'],
pre[class*='language-'] {
  @apply leading-normal;
}

pre {
  @apply text-sm font-mono text-neutral-200 bg-neutral-800 overflow-x-scroll p-4 rounded my-4;
}

img {
  @apply max-w-full rounded;
}

figure,
iframe,
.twitter-tweet {
  @apply my-8 max-w-full;
}

figcaption {
  @apply text-sm text-neutral-600 leading-snug pt-2 px-2 text-center;
}

table {
  @apply my-6;
}

table th {
  @apply font-semibold text-left text-neutral-400;
}

table td,
table th {
  @apply border border-neutral-800 px-2 py-1 align-text-top;
}

/* Nav */

nav {
  @apply bg-neutrala-70;
  backdrop-filter: blur(20px);
}

.\31 6\/9 {
  @apply overflow-hidden h-0 relative max-w-full my-8;
  padding-bottom: 56.25%;
}

.\31 6\/9 iframe,
.\31 6\/9 object,
.\31 6\/9 embed {
  @apply absolute top-0 left-0 w-full h-full mt-0;
}

:root {
  --brody-brand-main: #74ddc3;
  --brody-brand-bright: #efcb15;
  --brody-brand-dim: #a97704;
  --brody-neutral-100: #f0f4f9;
  --brody-neutral-200: #e6ebf4;
  --brody-neutral-300: #dadfec;
  --brody-neutral-400: #c5cddd;
  --brody-neutral-500: #9aa3bc;
  --brody-neutral-600: #6c7593;
  --brody-neutral-700: #464c62;
  --brody-neutral-800: #292e42;
  --brody-neutral-900: #171926;
  --brody-neutrala-05: rgba(23, 25, 38, 0.05);
  --brody-neutrala-10: rgba(23, 25, 38, 0.1);
  --brody-neutrala-20: rgba(23, 25, 38, 0.2);
  --brody-neutrala-30: rgba(23, 25, 38, 0.3);
  --brody-neutrala-40: rgba(23, 25, 38, 0.4);
  --brody-neutrala-50: rgba(23, 25, 38, 0.5);
  --brody-neutrala-60: rgba(23, 25, 38, 0.6);
  --brody-neutrala-70: rgba(23, 25, 38, 0.7);
  --brody-neutrala-80: rgba(23, 25, 38, 0.8);
  --brody-neutrala-90: rgba(23, 25, 38, 0.9);
}

/* purgecss end ignore */

@tailwind utilities;
